.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
border: 1px solid #ddd;
/*  box-shadow: 0 0 5px #bbb;*/
  padding: 0 5px;
  margin:0;
  color: #444;
/*  font: 11px/1.5 monospace, "Helvetica Neue", Arial, Helvetica, sans-serif; */
font-family: monospace;
z-index: 20;
}

